:root {
  --color-primary:#868e96;
  --color-primary-2:#495057;
  --color-primary-dark: #343a40;
  --color-primary-darker:#212529;
  --color-secondary:#0a5b68;
  --color-secondary-dark:#031e23;
  --color-secondary-light:#063d45;
  --color-blue:#1c7ed6;
  --color-white:#fff;
  --color-black:#000000;
  --color-gold:#ae9f6a; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 100; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  padding: 3rem;
  background-color: var(--color-primary-dark); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    body {
      padding: 0; } }

.scroll__text {
  color: var(--color-gold);
  font-size: 1.8rem;
  font-weight: bolder; }

.footer__initial--heading {
  color: var(--color-gold);
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase; }

.footer__initial--paragraph {
  color: var(--color-white);
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .footer__initial--paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.footer__paragraph {
  font-size: 2rem;
  color: var(--color-white);
  line-height: 3rem;
  letter-spacing: 2px; }
  .footer__paragraph--inline {
    display: inline-block;
    padding: .6rem;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
    color: var(--color-gold);
    transform: rotate(5deg) scale(1.1);
    transition: all .2s; }

.heading-primary {
  color: var(--color-gold);
  font-size: 6rem;
  text-transform: uppercase; }

.heading-secondary {
  color: var(--color-gold);
  font-size: 4rem;
  text-transform: uppercase; }

.content__paragraph {
  color: var(--color-white);
  font-size: 3rem;
  text-transform: uppercase; }

.features__paragraph {
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.5; }

.heading-tertiary {
  font-size: 2rem;
  color: var(--color-primary);
  text-transform: uppercase; }

.progress__heading {
  color: var(--color-gold);
  font-size: 3rem;
  text-transform: uppercase; }

.cover__text {
  color: var(--color-gold);
  font-size: 1.8rem; }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.book {
  padding: 2rem;
  border-radius: 5px;
  background-image: linear-gradient(105deg, rgba(33, 37, 41, 0.9) 0%, rgba(33, 37, 41, 0.9) 50%, transparent 0%), url(/img/bg1.jpg);
  background-size: cover;
  box-shadow: 0 2.5rem 3.5rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .book {
      background-image: linear-gradient(105deg, rgba(33, 37, 41, 0.9) 0%, rgba(33, 37, 41, 0.9) 100%, transparent 0%), url(/img/bg1.jpg);
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .book__form {
        width: 100%;
        text-align: center; } }

.form__group:not(:last-child) {
  margin-bottom: .6rem; }

.form__input {
  width: 80%;
  padding: 1.5rem 2rem;
  border: none;
  display: block;
  background-color: var(--color-white);
  border-radius: 5px;
  color: var(--color-primary);
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--color-blue); }
  .form__input:focus:invalid {
    border-bottom: 2px solid red; }
  .form__input::-webkit-input-placeholder {
    color: var(--color-primary); }

.form__label {
  font-size: 1.6rem;
  font-weight: 700rem;
  margin-left: 1rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: var(--color-gold); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.bg-video {
  height: 100%;
  width: 100%;
  opacity: 0.8; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  cursor: pointer; }
  .btn-gold {
    text-align: center;
    background-color: var(--color-gold);
    color: var(--color-white);
    font-size: 1.6rem;
    transition: all .2s; }
    .btn-gold:hover {
      transform: scale(1.01);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
      .btn-gold:hover span {
        margin-left: 6px; }
  .btn span {
    transition: margin-left .2s; }
  .btn-inline, .btn-inline:visited {
    text-decoration: none;
    color: var(--color-gold);
    border-bottom: 1px solid var(--color-gold);
    padding: .6rem 0; }
  .btn-inline:hover {
    background-color: var(--color-gold);
    color: var(--color-white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    transition: all .2s;
    transform: translate(-2px); }
  .btn-inline::after {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    transform: translate(0); }

.cover {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .cover {
      flex-direction: column; } }
  .cover__letter {
    flex: 0 0 50%;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .cover__letter {
        flex: 1;
        padding: 1rem; } }
  .cover--body {
    flex: 1;
    position: relative;
    padding: 4rem;
    margin-top: 7rem; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .cover--body {
        margin-top: 3rem;
        padding: 8rem; } }
    @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
      .cover--body {
        margin-top: 3rem;
        padding: 9rem; } }
    .cover--body__images--photo {
      position: absolute;
      width: 55%;
      box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.3);
      transition: all .2s;
      border-radius: 3px;
      z-index: 10;
      outline-offset: 1rem; }
      @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
        .cover--body__images--photo {
          width: 33.333%; } }
      .cover--body__images--photo-p1 {
        top: -2rem;
        left: 0; }
        @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
          .cover--body__images--photo-p1 {
            top: 0;
            transform: scale(1.1); } }
      .cover--body__images--photo-p2 {
        top: 2rem;
        right: -3rem; }
        @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
          .cover--body__images--photo-p2 {
            right: 3rem;
            top: 0;
            transform: scale(1.1); } }
      .cover--body__images--photo-p3 {
        top: 18rem;
        left: 20%; }
        @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
          .cover--body__images--photo-p3 {
            top: 0;
            left: 30%;
            z-index: 20;
            transform: scale(1.1); } }
      .cover--body__images--photo:hover {
        outline: 3px solid var(--color-gold);
        transform: translateY(-0.5rem) scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .cover--body__images:hover .cover--body__images--photo:not(:hover) {
      transform: scale(0.9); }

.features__content {
  display: flex;
  margin-top: 5rem;
  padding: 0 10rem; }
  @media only screen and (max-width: 75em) and (-webkit-min-device-pixel-ratio: 3) {
    .features__content {
      flex-direction: column;
      margin-top: 3rem; } }

.features__box {
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .features__box {
      margin-top: 5rem; } }
  .features__box:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .features__box:not(:last-child) {
        margin-right: 0; } }
  .features__box:hover {
    transform: translateY(-2rem) scale(1.1); }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .features__box:hover {
        transform: translateY(-1rem) scale(1.05); } }

.features__header {
  text-align: center;
  margin: 0 auto; }

.fa-solid,
.fa-brands {
  color: var(--color-gold); }

.stack__content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: auto; }

.stacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .stacks {
      flex-direction: column; } }
  .stacks__body {
    width: 50%;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .stacks__body {
        width: 100%; } }
  .stacks__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .stacks__progress {
    width: 80%;
    height: 1rem;
    background-color: var(--color-primary-2);
    position: relative;
    margin-right: .8rem; }
    .stacks__progress--bar {
      height: 2rem;
      background-color: var(--color-gold);
      position: absolute;
      z-index: 10;
      margin-top: -.5rem; }
      .stacks__progress--bar-1 {
        width: 90%; }
      .stacks__progress--bar-2 {
        width: 75%; }
      .stacks__progress--bar-3 {
        width: 40%; }
      .stacks__progress--bar-4 {
        width: 20%; }
    .stacks__progress--text {
      color: var(--color-gold);
      font-size: 3rem; }

.circular__stacks {
  margin-bottom: 10rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .circular__stacks {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    .circular__stacks {
      text-align: center; } }
  .circular__stacks--body {
    width: 33.33%; }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--body {
        width: 50%;
        margin-bottom: 7rem; } }
    @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--body {
        width: 50%;
        padding: 4rem; } }
    @media only screen and (max-width: 29.37em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--body {
        width: 100%;
        padding: 4rem; } }
  .circular__stacks--circle {
    width: 16rem;
    height: 16rem;
    border: 1px solid var(--color-gold);
    border-radius: 50%;
    padding: 2rem;
    position: relative;
    box-shadow: 0.6rem 0.6rem 1rem -1px rgba(0, 0, 0, 0.15), 0.6rem 0.6rem 1rem -1px rgba(0, 0, 0, 0.8); }
    @media only screen and (max-width: 75em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--circle {
        width: 18rem;
        height: 18rem; } }
    @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--circle {
        width: 20rem;
        height: 20rem; } }
    @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
      .circular__stacks--circle {
        width: 27rem;
        height: 27rem; } }
    .circular__stacks--circle-progress {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      border: 1px solid var(--color-gold);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0.6rem 0.6rem 1rem -1px rgba(0, 0, 0, 0.15), 0.6rem 0.6rem 1rem -1px rgba(0, 0, 0, 0.8); }
      @media only screen and (max-width: 75em) and (-webkit-min-device-pixel-ratio: 3) {
        .circular__stacks--circle-progress {
          width: 14rem;
          height: 14rem; } }
      @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
        .circular__stacks--circle-progress {
          height: 16rem;
          width: 16rem; } }
      @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
        .circular__stacks--circle-progress {
          width: 22rem;
          height: 22rem; } }
      .circular__stacks--circle-progress-1 {
        stroke-dasharray: 420; }
      .circular__stacks--circle-progress-2 {
        stroke-dasharray: 330; }
      .circular__stacks--circle-progress-3 {
        stroke-dasharray: 380; }
      .circular__stacks--circle-progress-4 {
        stroke-dasharray: 310; }
    .circular__stacks--circle-svg {
      fill: none;
      stroke: #ae9f6a;
      stroke-width: 2rem;
      stroke-dashoffset: 0;
      animation: stroke 2s linear forwards; }
      @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
        .circular__stacks--circle-svg {
          stroke-width: 3rem; } }

#number {
  font-size: 3rem;
  color: var(--color-gold); }

svg {
  position: absolute;
  top: 0;
  left: 0; }

.intial__img {
  height: 6rem; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .content__img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%; }

.footer-heading {
  text-align: center; }

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .footer__content {
      flex-direction: column; } }

.footer__initial {
  flex: 0 0 20%; }

.footer__socials {
  flex: 0 0 40%;
  padding: 3rem; }

.footer__copyright {
  flex: 1;
  padding: 3rem; }

.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.footer__link, .footer__link:link, .footer__link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-primary);
  transition: all .2s; }

.footer__link:hover {
  display: inline-block;
  padding: .7rem;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.2); }

.container {
  position: relative; }

.portfolio {
  width: 100%; }

.section-main {
  height: 100vh;
  position: relative;
  text-align: center; }

.section-services {
  padding: 10rem;
  background-color: var(--color-secondary-dark);
  text-align: center;
  border-top: 2px solid var(--color-primary-darker); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .section-services {
      padding: 10rem; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    .section-services {
      padding: 5rem; } }

.section-stack {
  border-top: 2px solid var(--color-primary-darker);
  padding: 10rem;
  background-color: var(--color-secondary-dark); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .section-stack {
      padding: 5rem; } }

.section-cover {
  padding: 10rem;
  background-color: var(--color-secondary-dark); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .section-cover {
      padding: 10rem; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    .section-cover {
      padding: 5rem; } }

.section-form {
  border-top: 2px solid var(--color-primary-darker);
  padding: 8rem;
  background-color: var(--color-secondary-dark); }

.section-footer {
  border-top: 2px solid var(--color-primary-darker);
  padding: 10rem;
  background-color: var(--color-secondary-dark); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: var(--color-gold);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    .navigation__button {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: var(--color-secondary-dark);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media only screen and (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 3) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 3) {
    .navigation__background {
      top: 3rem;
      right: 3rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 4rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  transition: all .2s; }

.navigation__link span {
  margin-right: 1rem; }

.navigation__link:hover {
  display: inline-block;
  padding: .7rem;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  transform: rotate(-5deg) scale(1.2);
  color: var(--color-gold); }

.navigation__icon {
  position: relative;
  margin-top: 2rem;
  margin-left: 1.8rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: var(--color-white);
    width: 3.5rem;
    height: 4px;
    display: inline-block; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: 2rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__button:hover .navigation__icon::before {
  top: 2.3rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
  margin-top: 3rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }
