@mixin responive ($breakpoint) {

    @if $breakpoint==sm-phone{
        @media (max-width:29.37em) {@content};//600px
    }

    @if $breakpoint==phone{
        @media (max-width:37.5em) {@content};//600px
    }
    @if $breakpoint==tab-port{
        @media (max-width:56.25em) {@content};//900px
    }
    @if $breakpoint==tab-land{
        @media (max-width:75em) {@content};//1200px
    }
    @if $breakpoint==big-desktop{
        @media (min-width:112.5em) {@content};//1800px
    }
    
}

@mixin centerPostion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@mixin hoverState {
    display: inline-block;
    padding: .7rem;
    box-shadow: 0 1.5rem 2.5rem rgba(0,0,0,0.4);
    
}
