:root{

    --color-primary:#868e96;
    --color-primary-2:#495057;
    --color-primary-dark: #343a40;
    --color-primary-darker:#212529;
    

    --color-secondary:#0a5b68;
    --color-secondary-dark:#031e23;
    --color-secondary-light:#063d45;

    --color-blue:#1c7ed6;
    --color-white:#fff;
    --color-black:#000000;
    --color-gold:#ae9f6a;
}

$default-size:1.6rem;
$color-black:#343a40;
$color-secondary-dark:#031e23;
$color-gold:#ae9f6a;
